body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: #1b7bbb;
    --theme-color1: #abbac4;
    --theme-color2: #8facc0;
    --theme-color3: #6c9ebe;
    --theme-color4: #5196c0;
    --theme-color5: #3288bd;
    --theme-color-dark: #072030;
    --bg: #fff;
    --secondary-text: #072030;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}